{{#> main}}
  {{#*inline "content"}}
    <h1>Bem-vindo, {{user.username}}!</h1>
    <h2>Estrutura Exemplo</h2>
    <p>Esta é a página inicial do seu aplicativo, agora com a estrutura para "clientes".</p>
  {{/inline}}
{{/main}}
